@{
    ViewBag.Title = "会员首页";
    Layout = "../Shared/_Layout.cshtml";
}

@section Foot{
    
}
<div class="row-fluid">

    <div class="span7">
        <h1>Inbox</h1>
        <ul class="messagesList">
            <li>
                <span class="from"><span class="glyphicons star"><i></i></span> Dennis Ji <span class="glyphicons paperclip"><i></i></span></span><span class="title"><span class="label label-warning">problem</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
                <span class="from"><span class="glyphicons dislikes"><i></i></span> Dennis Ji</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
        </ul>
    </div>
</div>